{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation_menu_item %}
    {% if category.type == 'folder' %}
        <div class="nav-link main-navigation-link"
            {% if treeItem.children|length > 0 %}
                data-flyout-menu-trigger="{{ categorId }}"
            {% endif %}
             title="{{ name }}">
            <div class="main-navigation-link-text">
                <span itemprop="name">{{ name }}</span>
            </div>
        </div>
    {% else %}
        {% if loop.last %}
            <a class="nav-link main-navigation-link-last main-navigation-link{% if categorId == page.header.navigation.active.id or categorId in activePath %} active{% endif %}"
               href="{% if category.translated.externalLink %}{{ category.translated.externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: categorId }) }}{% endif %}"
               itemprop="url"
                {% if treeItem.children|length > 0 %}
                    data-flyout-menu-trigger="{{ categorId }}"
                {% endif %}
               title="{{ name }}">
                <div class="main-navigation-link-text">
                    <span itemprop="name">{{ name }}</span>
                </div>
            </a>
        {% else %}
            <a class="nav-link main-navigation-link{% if categorId == page.header.navigation.active.id or categorId in activePath %} active{% endif %}"
               href="{% if category.translated.externalLink %}{{ category.translated.externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: categorId }) }}{% endif %}"
               itemprop="url"
                {% if treeItem.children|length > 0 %}
                    data-flyout-menu-trigger="{{ categorId }}"
                {% endif %}
               title="{{ name }}">
                <div class="main-navigation-link-text">
                    <span itemprop="name">{{ name }}</span>
                </div>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
