{% block block_image_text_gallery %}
    {% set columns = 3 %}
    {% set id = element.id %}

    {% block block_image_text_gallery_left %}
        <div class="col-md-4">
            <div class="image-text-gallery-card">
                {% block block_image_text_gallery_left_image %}
                    {% set element = block.slots.getSlot('image_first') %}

                    <div data-cms-element-id="{{ id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}

                {% block block_image_text_gallery_left_text %}
                    {% set element = block.slots.getSlot('text_first') %}

                    <div data-cms-element-id="{{ id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block block_image_text_gallery_center %}
        <div class="col-md-4">
            <div class="image-text-gallery-card">
                {% block block_image_text_gallery_center_image %}
                    {% set element = block.slots.getSlot('image_second') %}

                    <div data-cms-element-id="{{ id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}

                {% block block_image_text_gallery_center_text %}
                    {% set element = block.slots.getSlot('text_second') %}

                    <div data-cms-element-id="{{ id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block block_image_text_gallery_right %}
        <div class="col-md-4">
            <div class="image-text-gallery-card">
                {% block block_image_text_gallery_right_image %}
                    {% set element = block.slots.getSlot('image_third') %}

                    <div data-cms-element-id="{{ id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}

                {% block block_image_text_gallery_right_text %}
                    {% set element = block.slots.getSlot('text_third') %}

                    <div data-cms-element-id="{{ id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
